.visual-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.svg-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#yes-div {
    cursor: pointer;
}

.country-circle:hover {
    stroke-width: 4px !important;
    opacity: 0.8 !important;
}

.svg-div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.node__root > circle {
    fill: red;
}
  
.node__branch > circle {
    fill: #FCE77D;
}

.node__branch > circle:hover{
    fill: #F96167;
}
  
.node__leaf > circle {
    fill: #CCF381;
    r: 10;
}