.example-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select {
    background-color: lightblue;
    color: rgb(0, 0, 0);
    border: 2px solid blue;
    padding: 1em;
    margin: 0.5em;
    font-size: 1.5em;
}

.select:focus {
    outline: none;
    border-color: darkblue;
}

.units {
    font-size: 1.5em;
    margin: 1em;
}

.radarChart {
    width: 100%;
    height: 100%;

}

.chart-container {
    position: relative;
}

.barChart {
    position: absolute;
    top: 0%;
    left: 0%;
}

.barChart1{
    position: absolute;
    top: 120px;
    left: 30px;
}

